/* ANIMATIONS*/
@-webkit-keyframes "notify_success_error" {
  /* line 4, ../sass/egg_animations.scss */
  from {
    background-color: #a4da54;
  }

  /* line 7, ../sass/egg_animations.scss */
  to {
    background-color: #9CD547;
  }
}

/* line 12, ../sass/egg_animations.scss */
.egg-face-anim-notify-success {
  background-color: #a4da54;
  -webkit-animation-name: "notify_success_error";
  -webkit-animation-duration: 900ms;
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
}

@-webkit-keyframes "notify_progress" {
  /* line 26, ../sass/egg_animations.scss */
  from {
    background-color: #F1B73C;
  }

  /* line 29, ../sass/egg_animations.scss */
  to {
    background-color: #DB9F20;
  }
}

/* line 34, ../sass/egg_animations.scss */
.egg-face-anim-notify-progress {
  background-color: #F1B73C;
  -webkit-animation-name: "notify_progress";
  -webkit-animation-duration: 900ms;
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
}
