/*
 *  Face style
 *	Having no impact on structure
 *	Only for good locks
 */
/* line 15, ../sass/egg_faces.scss */
.egg-face-center {
  text-align: center;
}

/*****************************
	## TAGS ## 
******************************/
/* line 31, ../sass/egg_faces.scss */
.egg-face-category {
  display: inline-block;
  padding: .2em .8em;
  margin-right: .3em;
  margin-bottom: 0.2em;
  border-radius: 0.2em;
  background-color: #F794BC !important;
}

/* line 36, ../sass/egg_faces.scss */
.egg-face-tag {
  display: inline-block;
  padding: .2em .8em;
  margin-right: .3em;
  margin-bottom: 0.2em;
  border-radius: 0.2em;
  background-color: #DDACF5 !important;
}

/* line 41, ../sass/egg_faces.scss */
.egg-face-id {
  display: inline-block;
  padding: .2em .8em;
  margin-right: .3em;
  margin-bottom: 0.2em;
  border-radius: 0.2em;
  background-color: #76D7F0 !important;
}

/*****************************
	## PROGRESS ## 
******************************/
/*
.egg-face-inprogess {
	background-color: $col_green_lemon !important;
	background: $col_green_lemon !important;
}
*/
/* line 57, ../sass/egg_faces.scss */
.egg-face-tags-loaded {
  background-color: #DAE04A !important;
  background: #DAE04A !important;
}

/* line 62, ../sass/egg_faces.scss */
.egg-face-more-data {
  background-color: #DAE04A !important;
  background: #DAE04A !important;
}
