/* ANIMATIONS*/
@-webkit-keyframes "notify_success_error" {
  /* line 4, ../sass/egg_animations.scss */
  from {
    background-color: #a4da54;
  }

  /* line 7, ../sass/egg_animations.scss */
  to {
    background-color: #9CD547;
  }

  /*
  from {opacity: 0 ;}
  50% {opacity: 0.5 ;}
  to {opacity: 1 ;}
  */
}

/* line 17, ../sass/egg_animations.scss */
.egg-face-anim-notify-success {
  background-color: #a4da54;
  -webkit-animation-name: "notify_success_error";
  -webkit-animation-duration: 900ms;
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  /*background-color: 	$col_green_lemon !important;*/
}
