/*Color variables for Sass inclusion */
/* ll = super light, l = light, m = light medium ... */
/*** Greys ***************************/
/*** Blues ***************************/
/*purple*/
/*
$col_blue_ll	: #C19DC9;
$col_blue_l		: #614068;
$col_blue_m		: #614068;
*/
/*grey*/
/*
$col_blue_ll	: #BDBDBD;
$col_blue_l		: #BDBDBD;
$col_blue_m		: #4D4D4D;
*/
/*blue*/
/*** Black **************************/
/*** Greens ***************************/
/*** States ***************************/
