/*@import "compass/reset";*/
/* Browser reset */
/* line 3, ../sass/egg_reset.scss */
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-indent: 0;
}

/*Color variables for Sass inclusion */
/* ll = super light, l = light, m = light medium ... */
/*** Greys ***************************/
/*** Blues ***************************/
/*purple*/
/*
$col_blue_ll	: #C19DC9;
$col_blue_l		: #614068;
$col_blue_m		: #614068;
*/
/*grey*/
/*
$col_blue_ll	: #BDBDBD;
$col_blue_l		: #BDBDBD;
$col_blue_m		: #4D4D4D;
*/
/*blue*/
/*** Black **************************/
/*** Greens ***************************/
/*Basic font-sizes */
/* line 13, ../sass/egg_font_size.scss */
h1 {
  font-size: 3em;
}

/* line 17, ../sass/egg_font_size.scss */
h2, .h2 {
  font-size: 2em;
}

/********* TABLES ********/
/*
 *  Face style
 *	Having no impact on structure
 *	Only for good locks
 */
/* line 15, ../sass/egg_faces.scss */
.egg-face-center {
  text-align: center;
}

/*****************************
	## TAGS ## 
******************************/
/* line 31, ../sass/egg_faces.scss */
.egg-face-category {
  display: inline-block;
  padding: .2em .8em;
  margin-right: .3em;
  margin-bottom: 0.2em;
  border-radius: 0.2em;
  background-color: #F794BC !important;
}

/* line 36, ../sass/egg_faces.scss */
.egg-face-tag {
  display: inline-block;
  padding: .2em .8em;
  margin-right: .3em;
  margin-bottom: 0.2em;
  border-radius: 0.2em;
  background-color: #DDACF5 !important;
}

/* line 41, ../sass/egg_faces.scss */
.egg-face-id {
  display: inline-block;
  padding: .2em .8em;
  margin-right: .3em;
  margin-bottom: 0.2em;
  border-radius: 0.2em;
  background-color: #76D7F0 !important;
}

/*****************************
	## PROGRESS ## 
******************************/
/* line 50, ../sass/egg_faces.scss */
.egg-face-inprogess {
  background-color: #a4da54 !important;
  background: #a4da54 !important;
}

/* line 55, ../sass/egg_faces.scss */
.egg-face-tags-loaded {
  background-color: #DAE04A !important;
  background: #DAE04A !important;
}

/* line 60, ../sass/egg_faces.scss */
.egg-face-more-data {
  background-color: #DAE04A !important;
  background: #DAE04A !important;
}

/* dependent on colors*/
/* GRADIENTS*/
/* dependent on colors*/
/*warnings*/
/* line 4, ../sass/egg_warnings.scss */
.egg-face-danger-txt-h:hover {
  color: red;
}

/* line 7, ../sass/egg_warnings.scss */
.egg-face-danger-backgr-h:hover {
  background: red !important;
  background-color: red !important;
}

/* line 12, ../sass/egg_warnings.scss */
.egg-face-danger-backgr {
  background: red !important;
  background-color: red !important;
}

/* line 17, ../sass/egg_warnings.scss */
.egg-face-danger-backgr-h:hover > * {
  color: #FFF !important;
}

/* line 24, ../sass/egg_warnings.scss */
.egg-face-confirm-backgr-h:hover {
  background: #a4da54 !important;
  background-color: #a4da54 !important;
  color: #FFF;
}

/* line 29, ../sass/egg_warnings.scss */
.egg-face-confirm-backgr {
  background: #a4da54 !important;
  background-color: #a4da54 !important;
}

/* line 34, ../sass/egg_warnings.scss */
.egg-face-error-backgr {
  background: red !important;
  background-color: red !important;
}

/* line 39, ../sass/egg_warnings.scss */
.egg-face-formError {
  border: 2px solid red !important;
}

/* line 43, ../sass/egg_warnings.scss */
.egg-face-inprogress {
  background: #F1B73C !important;
  background-color: #F1B73C !important;
}

/* line 48, ../sass/egg_warnings.scss */
.egg-face-unsaved-data {
  background: #464646 !important;
  background-color: #464646 !important;
}

/* dependent on colors*/
/* GRADIENTS*/
/*--------------------------------
	RESETS
--------------------------------*/
/* line 17, ../sass/screen.scss */
* {
  background-origin: border-box;
}

/* line 21, ../sass/screen.scss */
a {
  cursor: default !important;
}

/* line 25, ../sass/screen.scss */
h1 {
  font-size: 1.5em;
}

/* line 29, ../sass/screen.scss */
textarea, input, select, .egg-tag-holder {
  border: 1px solid #d9d9d9 !important;
  border-radius: 0.2em;
}

/* line 33, ../sass/screen.scss */
.form-control, .input-group-addon {
  border: 1px solid #d9d9d9;
  border-radius: 0.2em;
  box-shadow: 0 0 1px #c5c5c5;
}

/*--------------------------------
	M I X I N S
--------------------------------*/
/*--------------------------------
	B O D Y
--------------------------------*/
/* line 65, ../sass/screen.scss */
body {
  background-color: #F5F5F5;
}

/* line 69, ../sass/screen.scss */
footer {
  color: #c5c5c5;
}

/* line 74, ../sass/screen.scss */
.egg-l-contents-container {
  padding-top: 5em;
}

/* line 78, ../sass/screen.scss */
.egg-l-right-col-fixed {
  position: fixed;
  top: 70px;
}

@media (max-width: 800px) {
  /* line 86, ../sass/screen.scss */
  .container {
    min-width: 600px;
  }

  /* line 91, ../sass/screen.scss */
  .navbar-header {
    float: left;
  }

  /* line 95, ../sass/screen.scss */
  .nav {
    float: left;
  }

  /* line 99, ../sass/screen.scss */
  .nav > li {
    float: left;
  }

  /* line 103, ../sass/screen.scss */
  .navbar-nav {
    float: left;
    margin: 0;
  }

  /* line 107, ../sass/screen.scss */
  .navbar-nav > li {
    float: left;
  }

  /* line 111, ../sass/screen.scss */
  .navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
/*--------------------------------
	S T A T E S
--------------------------------*/
/* line 122, ../sass/screen.scss */
.egg-is-hidden-anim {
  transition: max-height 600ms;
  max-height: 0 !important;
  overflow: hidden;
}

/* line 128, ../sass/screen.scss */
.egg-is-visible-anim {
  height: auto !important;
  max-height: 100em !important;
  transition: max-height 300ms;
}

/*--------------------------------
	Global settings
--------------------------------*/
/* line 138, ../sass/screen.scss */
datalist {
  height: 5em !important;
}

/*--------------------------------
	Login
--------------------------------*/
/* line 147, ../sass/screen.scss */
.egg-m-login {
  position: relative;
  padding: 0;
  margin: 0;
  width: 100%;
}

/* line 155, ../sass/screen.scss */
.egg-m-login__header {
  float: none !important;
  padding: 1.5em 0 1.5em 0;
}

/* line 161, ../sass/screen.scss */
.egg-m-login__logo {
  display: block;
  font-size: 8em;
  font-weight: bold;
  color: #091558;
  /*highlight*/
  /*shadow*/
  text-shadow: 2px 2px 1px #507797,  -1px -1px 1px #003477;
}

@media (max-width: 1200px) {
  /* line 174, ../sass/screen.scss */
  .egg-m-login__form input {
    width: 30em;
  }
}
@media (min-width: 1200px) {
  /* line 179, ../sass/screen.scss */
  .egg-m-login__form input {
    width: 25em;
  }
}
/* line 184, ../sass/screen.scss */
.egg-m-login__tagline {
  display: block;
  color: #111A4E;
  font-size: 2em;
}

/* line 191, ../sass/screen.scss */
.egg-m-login__form {
  padding: 7em 5em 7em 7em;
  background: #356ea0;
}
/* line 195, ../sass/screen.scss */
.egg-m-login__form input[type=text]:first-of-type {
  margin-top: 3em;
}
/* line 199, ../sass/screen.scss */
.egg-m-login__form button {
  margin-top: 1em;
}

/* line 204, ../sass/screen.scss */
.egg-m-login__form__error {
  height: 1em;
  color: #8a0707;
}

/* line 214, ../sass/screen.scss */
.egg-m-login__footer {
  padding: .5em 3em 0 7em;
  background-color: #f3f3f3;
}

/*--------------------------------
	M-navbar
--------------------------------*/
/* line 224, ../sass/screen.scss */
.egg-m-navbar {
  background-image: linear-gradient(to bottom, #e6e6e6 0%, #d9d9d9 100%);
  box-shadow: 0px 1px 3px #c5c5c5;
  font-size: 1em;
  overflow: hidden;
  border-bottom: 1px solid #c5c5c5;
}
/* line 231, ../sass/screen.scss */
.egg-m-navbar a {
  color: black;
}
/* line 237, ../sass/screen.scss */
.egg-m-navbar .egg-m-item-count {
  width: 3.5em;
  font-weight: bold;
  padding-left: 1.3em;
  display: inline-block;
  text-align: center;
}

/* line 247, ../sass/screen.scss */
.egg-m-navbar__brand {
  font-size: 1em;
  font-weight: bold;
  margin-right: 2em;
}

/* line 254, ../sass/screen.scss */
.egg-m-navbar__navi li {
  padding: 0 1em 0 0;
  border-right: 1px solid #c5c5c5;
}
/* line 258, ../sass/screen.scss */
.egg-m-navbar__navi li:first-of-type {
  padding: 0 1em 0 0;
  border-left: 1px solid #c5c5c5;
}
/* line 262, ../sass/screen.scss */
.egg-m-navbar__navi li a:hover {
  text-decoration: none;
}

/* line 267, ../sass/screen.scss */
.egg-m-navbar__navi--h:hover {
  background-image: linear-gradient(to bottom, #d9d9d9 100%, #c5c5c5 0%);
  cursor: pointer;
}
/* line 271, ../sass/screen.scss */
.egg-m-navbar__navi--h:hover a:hover {
  text-decoration: none;
  color: black;
}

/*--------------------------------
	ICON large
--------------------------------*/
/*--------------------------------
	M-search-settings
--------------------------------*/
/* line 289, ../sass/screen.scss */
.egg-m-search-settings {
  /*@include crossed_table( $col_grey_mm, $col_grey_l, #000, $col_grey_ll );*/
  /*
  tr:nth-of-type(2n) {
  	background: $col_grey_lll;
  }
  */
  box-shadow: 0px 1px 1px #d9d9d9;
  background-color: #f3f3f3;
  /*@include grad-grey-lll;*/
}
/* line 11, ../sass/egg_tables.scss */
.egg-m-search-settings table {
  width: 100%;
}
/* line 14, ../sass/egg_tables.scss */
.egg-m-search-settings tr {
  border: solid 1px #d9d9d9;
  border-collapse: true;
}
/* line 24, ../sass/egg_tables.scss */
.egg-m-search-settings td {
  padding: .5em 0.7em;
  border-left: solid 1px #d9d9d9;
}
/* line 28, ../sass/egg_tables.scss */
.egg-m-search-settings input[type=text] {
  width: 100%;
}
/* line 45, ../sass/screen.scss */
.egg-m-search-settings .egg-header {
  color: #FFF;
  background: #356ea0;
  border: 1px solid #356ea0;
  font-weight: bold;
}
/* line 298, ../sass/screen.scss */
.egg-m-search-settings div.input-group {
  width: 100%;
}
/* line 301, ../sass/screen.scss */
.egg-m-search-settings span.input-group-addon {
  margin-top: -1px;
  line-height: 0;
}
/* line 305, ../sass/screen.scss */
.egg-m-search-settings submit:hover {
  color: #FFF;
}
/* line 309, ../sass/screen.scss */
.egg-m-search-settings .egg-main-search {
  min-height: 3em;
  height: 100%;
}

/*--------------------------------
	M-inputform
--------------------------------*/
/* line 319, ../sass/screen.scss */
.egg-m-inputform {
  /*@include grad-grey-ll;*/
  box-shadow: 0px 1px 1px #d9d9d9;
  border: 1px solid #d9d9d9;
  border-radius: .3em;
  margin-bottom: 2em;
  overflow: hidden;
  width: 100%;
}

/* line 331, ../sass/screen.scss */
.egg-m-inputform__header {
  background-color: #356ea0;
  color: #f3f3f3;
  font-weight: bold;
  height: 2.5em;
}
/* line 338, ../sass/screen.scss */
.egg-m-inputform__header li {
  display: inline-block;
  border-right: solid 1px #51a3e9;
  float: left;
  padding: .5em 1em 0.5em 1em;
  height: 100%;
}
/* line 346, ../sass/screen.scss */
.egg-m-inputform__header .egg-entry-id {
  background-color: #51a3e9;
  width: 15%;
}
/* line 351, ../sass/screen.scss */
.egg-m-inputform__header .egg-navi {
  cursor: pointer;
  position: relative;
  margin: -1px;
  /*compensate ugly offset to top*/
  padding-right: 2em;
  padding-top: .7em;
}
/* line 358, ../sass/screen.scss */
.egg-m-inputform__header .egg-navi:hover {
  background-color: #51A3E9;
}

/* line 364, ../sass/screen.scss */
.egg-m-inputform__tagging {
  border-bottom: 1px solid #c5c5c5;
  padding: 0.5em;
}
/* line 369, ../sass/screen.scss */
.egg-m-inputform__tagging .egg-tag-holder {
  min-height: 3em;
  height: 100%;
  margin: 0.5em 0;
}

/* line 377, ../sass/screen.scss */
.egg-m-inputform__languages {
  padding: 0.5em;
}
/* line 381, ../sass/screen.scss */
.egg-m-inputform__languages label {
  display: block;
}
/* line 384, ../sass/screen.scss */
.egg-m-inputform__languages textarea {
  height: 7em;
  max-height: 7em;
  max-width: 100%;
  margin-bottom: 1em;
  width: 100%;
}

/* line 396, ../sass/screen.scss */
#icon_large {
  position: absolute;
  z-index: -10;
  left: 1em;
  top: 1.5em;
  font-size: 8em;
  font-weight: bold;
  color: #E9E9E9;
  text-shadow: -1px -1px 2px #DBDBDB;
  box-shadow: none;
  border: none;
}

/*--------------------------------
	M-results
--------------------------------*/
/* line 412, ../sass/screen.scss */
.egg-m-results {
  	/*
  
  	[data-category = intro] .egg-m-textblock__header {
  		
  		background: rgb(51, 134, 167);
  		border: 1px solid rgb(51, 134, 167) !important;
  	}
  
  	[data-category = safety] .egg-m-textblock__header {
  		background: red;
  		border: 1px solid red !important;
  	}
  
  	[data-category = warning] .egg-m-textblock__header {
  		background: rgb(255, 102, 0);
  		border: 1px solid rgb(255, 102, 0) !important;
  	}
  
  	[data-category = use] .egg-m-textblock__header {
  		background: rgb(167, 51, 144);
  		border: 1px solid rgb(167, 51, 144) !important;
  	}
  
  	[data-category = cleaning] .egg-m-textblock__header {
  		background: rgb(167, 125, 51);
  		border: 1px solid rgb(167, 125, 51) !important;
  	}
  
  	[data-category = techdata] .egg-m-textblock__header {
  		background: rgb(51, 93, 167);
  		border: 1px solid rgb(51, 93, 167) !important;
  	}
  
  	[data-category = legal] .egg-m-textblock__header {
  		background: rgb(90, 9, 97);
  		border: 1px solid rgb(90, 9, 97) !important;
  	}
  
  	*/
}
@media (max-width: 800px) {
  /* line 416, ../sass/screen.scss */
  .egg-m-results .egg-l-spacer {
    height: 5em;
    margin-bottom: 5em;
  }
}
/* line 422, ../sass/screen.scss */
.egg-m-results [data-category] .egg-m-textblock__header {
  background: #356ea0;
  border: 1px solid #51a3e9;
}
/* line 467, ../sass/screen.scss */
.egg-m-results .egg-face-badge {
  background-color: #e6e6e6;
  color: black;
}
/* line 472, ../sass/screen.scss */
.egg-m-results .egg-face-badge.has-count {
  background-color: #C1DAE6;
}
/* line 476, ../sass/screen.scss */
.egg-m-results .egg-m-results__tabs {
  box-shadow: 0px 1px 1px #d9d9d9;
  margin-bottom: 1em;
  border-radius: .2em;
  border: solid 1px #e6e6e6;
  margin-bottom: 1em;
}
/* line 481, ../sass/screen.scss */
.egg-m-results .egg-m-results__tabs a {
  color: black;
}

/*--------------------------------
	M-textblock
--------------------------------*/
/* line 491, ../sass/screen.scss */
.egg-m-textblock {
  /*@include grad-grey-lll;*/
  box-shadow: 0px 1px 3px #c5c5c5;
  border-radius: .2em;
  margin-bottom: 1.2em;
  overflow: hidden;
  width: 100%;
}

/* line 502, ../sass/screen.scss */
.egg-m-textblock__header {
  background-color: #356ea0;
  /*border-bottom: 1px solid $col_grey_m;*/
  color: #f3f3f3;
  font-weight: bold;
  height: 2.5em;
}
/* line 510, ../sass/screen.scss */
.egg-m-textblock__header li {
  display: inline-block;
  border-right: solid 1px #51a3e9;
  float: left;
  padding: .5em 1em 0.5em 1em;
  height: 100%;
  min-width: 1em;
}
/* line 519, ../sass/screen.scss */
.egg-m-textblock__header .egg-block-id {
  min-width: 15%;
}
/* line 523, ../sass/screen.scss */
.egg-m-textblock__header .egg-navi {
  cursor: pointer;
  position: relative;
  margin: -1px;
  /*compensate ugly offset to top*/
  padding-right: 2em;
  padding-top: .7em;
}
/* line 530, ../sass/screen.scss */
.egg-m-textblock__header .egg-navi:hover {
  opacity: 0.8;
}
/* line 534, ../sass/screen.scss */
.egg-m-textblock__header .egg-face-included {
  background-color: #51a3e9 !important;
}

/* line 542, ../sass/screen.scss */
.egg-m-textblock__content {
  border: 1px solid #d9d9d9;
}

/* line 546, ../sass/screen.scss */
.egg-m-textblock__tagging {
  border-bottom: 1px solid #d9d9d9;
  padding: 0.5em;
}
/* line 550, ../sass/screen.scss */
.egg-m-textblock__tagging .egg-tag-holder {
  min-height: 3em;
  height: 100%;
  margin: 0.5em 0;
}
/* line 556, ../sass/screen.scss */
.egg-m-textblock__tagging input, .egg-m-textblock__tagging select {
  width: 45%;
  display: inline-block;
}
/* line 560, ../sass/screen.scss */
.egg-m-textblock__tagging input:first-of-type {
  margin-right: .5em;
}

/* line 565, ../sass/screen.scss */
.egg-m-textblock__languages {
  padding-top: 1em;
  padding: 0.5em;
}
/* line 569, ../sass/screen.scss */
.egg-m-textblock__languages label {
  display: block;
}
/* line 573, ../sass/screen.scss */
.egg-m-textblock__languages textarea {
  overflow-x: hidden;
  border: none;
  /*border: 1px solid $col_grey_l;*/
  border-radius: 0.2em;
  height: 8em;
  max-height: 15em;
  width: 100%;
  max-width: 100%;
  margin-bottom: .3em;
  box-shadow: 0 0 1px #d9d9d9;
}

/* line 589, ../sass/screen.scss */
.egg-m-textblock__languages__tagsview {
  border-bottom: 1px solid #d9d9d9;
  margin: 0.3em 0 0.6em 0;
  padding: 0.5em;
}

/*--------------------------------
	M-user-projects
--------------------------------*/
/* line 601, ../sass/screen.scss */
.egg-m-user-projects {
  /*@include crossed_table( $col_grey_mm, $col_grey_l, #000, $col_grey_ll );*/
  /*
  tr:nth-of-type(2n) {
  	background: $col_grey_lll;
  }
  */
  box-shadow: 0px 1px 3px #c5c5c5;
  /*@include grad-grey-lll;*/
}
/* line 11, ../sass/egg_tables.scss */
.egg-m-user-projects table {
  width: 100%;
}
/* line 14, ../sass/egg_tables.scss */
.egg-m-user-projects tr {
  border: solid 1px #d9d9d9;
  border-collapse: true;
}
/* line 24, ../sass/egg_tables.scss */
.egg-m-user-projects td {
  padding: .5em 0.7em;
  border-left: solid 1px #d9d9d9;
}
/* line 28, ../sass/egg_tables.scss */
.egg-m-user-projects input[type=text] {
  width: 100%;
}
/* line 45, ../sass/screen.scss */
.egg-m-user-projects .egg-header {
  color: #FFF;
  background: #356ea0;
  border: 1px solid #356ea0;
  font-weight: bold;
}

/* line 611, ../sass/screen.scss */
.egg-m-user-projects .egg-m-user-projects__last-created {
  padding-left: 0.8em;
}
/* line 614, ../sass/screen.scss */
.egg-m-user-projects .egg-m-user-projects__last-created a {
  cursor: pointer;
}

/* line 619, ../sass/screen.scss */
.egg-m-user-projects__navi {
  /*@include grad-grey-ll;*/
}
/* line 624, ../sass/screen.scss */
.egg-m-user-projects__navi tr, .egg-m-user-projects__navi td {
  padding-top: 0;
  padding-bottom: 0.1em;
}
/* line 628, ../sass/screen.scss */
.egg-m-user-projects__navi td {
  cursor: pointer;
  text-align: center;
}
/* line 633, ../sass/screen.scss */
.egg-m-user-projects__navi td:hover {
  opacity: 0.6;
}
/* line 637, ../sass/screen.scss */
.egg-m-user-projects__navi td:last-of-type {
  border-right: none;
  text-indent: 0;
}
/* line 641, ../sass/screen.scss */
.egg-m-user-projects__navi a {
  color: black;
  padding: 0.35em 0.5em;
  text-indent: -0.6em;
  text-decoration: none;
}

/* line 649, ../sass/screen.scss */
.egg-m-user-projects__result {
  /*@include crossed_table( $col_grey_mm, $col_grey_l, #000, $col_grey_ll );*/
  font-weight: bold;
}

/*--------------------------------
	Search stats
--------------------------------*/
/* line 657, ../sass/screen.scss */
.egg-m-search-stats {
  /*@include crossed_table( $col_grey_mm, $col_grey_l, #000, $col_grey_ll );*/
  /*
  tr:nth-of-type(2n) {
  	background: $col_grey_lll;
  }
  */
  box-shadow: 0px 1px 3px #c5c5c5;
  background-image: linear-gradient(to bottom, #f3f3f3 0%, #e6e6e6 100%);
}
/* line 11, ../sass/egg_tables.scss */
.egg-m-search-stats table {
  width: 100%;
}
/* line 14, ../sass/egg_tables.scss */
.egg-m-search-stats tr {
  border: solid 1px #d9d9d9;
  border-collapse: true;
}
/* line 24, ../sass/egg_tables.scss */
.egg-m-search-stats td {
  padding: .5em 0.7em;
  border-left: solid 1px #d9d9d9;
}
/* line 28, ../sass/egg_tables.scss */
.egg-m-search-stats input[type=text] {
  width: 100%;
}
/* line 45, ../sass/screen.scss */
.egg-m-search-stats .egg-header {
  color: #FFF;
  background: #356ea0;
  border: 1px solid #356ea0;
  font-weight: bold;
}

/* line 668, ../sass/screen.scss */
.egg-m-stats {
  margin-bottom: 2em;
}
/* line 45, ../sass/screen.scss */
.egg-m-stats .egg-header {
  color: #FFF;
  background: #356ea0;
  border: 1px solid #356ea0;
  font-weight: bold;
}
/* line 673, ../sass/screen.scss */
.egg-m-stats h1 {
  margin-bottom: 1em;
}
/* line 677, ../sass/screen.scss */
.egg-m-stats thead {
  font-weight: bold;
  margin-top: 0.5em;
  background-color: #e6e6e6;
}
/* line 54, ../sass/screen.scss */
.egg-m-stats .egg-m-stats-blocks tr > td:first-of-type {
  background-color: #e6e6e6;
  font-weight: bold;
}
/* line 54, ../sass/screen.scss */
.egg-m-stats .egg-m-stats-tags tr > td:first-of-type {
  background-color: #e6e6e6;
  font-weight: bold;
}
/* line 690, ../sass/screen.scss */
.egg-m-stats .egg-m-stats-tags textarea {
  padding-left: 0.3em;
  max-width: 25em;
  min-width: 20em;
  max-height: 5.5em;
}
/* line 699, ../sass/screen.scss */
.egg-m-stats .egg-m-stats-import-data .form-control {
  background-color: #e6e6e6;
  padding: .5em 0.5em 0.5 2em;
}
