<div class="egg-m-results js_results">
	<ul class="js_tabbed_content_navi nav nav-tabs egg-m-results__tabs">
		<li class="active">
			<a href="#intro" class="js_tab" data-toggle="tab">Intro
				<span class="badge egg-face-badge" data-category="intro">0</span>
			</a>
		</li>
		<li class="">
			<a href="#intendeduse" class="js_tab" data-toggle="tab">Intended use
				<span class="badge egg-face-badge" data-category="intendeduse">0</span>
			</a>
		</li>
  		<li class="">		
  			<a href="#safety" class="js_tab" data-toggle="tab">Safety
  				<span class="badge egg-face-badge" data-category="safety">0</span>
  			</a>
  		</li>
  		<li class="">
  			<a href="#warning" class="js_tab" data-toggle="tab">Warning
  				<span class="badge egg-face-badge" data-category="warning">0</span>
  			</a>
  		</li>
  		<li class="">
  			<a href="#use" class="js_tab" data-toggle="tab">Use
  				<span class="badge egg-face-badge" data-category="use">0</span>
  			</a>
  		</li>
  		<li class="">
  			<a href="#fcc" class="js_tab" data-toggle="tab">FCC
  				<span class="badge egg-face-badge" data-category="fcc">0</span>
  			</a>
  		</li>
  		<li class="">
  			<a href="#doc" class="js_tab" data-toggle="tab">DOC
  				<span class="badge egg-face-badge" data-category="doc">0</span>
  			</a>
  		</li>
  		<li class="">
  			<a href="#cleaning" class="js_tab" data-toggle="tab">Cleaning
  				<span class="badge egg-face-badge" data-category="cleaning">0</span>
  			</a>
  		</li>
  		<li class="">
  			<a href="#techdata" class="js_tab" data-toggle="tab">Tech data
  				<span class="badge egg-face-badge" data-category="techdata">0</span>
  			</a>	
  		</li>
  		<li class="">
  			<a href="#legal" class="js_tab" data-toggle="tab">Legal
  				<span class="badge egg-face-badge" data-category="legal">0</span>
  			</a>
  		</li>
  		<li class="">
        <a href="#address" class="js_tab" data-toggle="tab">Address
  				<span class="badge egg-face-badge" data-category="address">0</span>
  			</a>
  		</li>
        <li class="">
        <a href="#support" class="js_tab" data-toggle="tab">Support
  				<span class="badge egg-face-badge" data-category="support">0</span>
  			</a>
  		</li>
	</ul>	
	<div class="egg-l-spacer"></div>
  <div class="js_tabbed_content_results tab-content">
		<div id="intro" 		class="tab-pane active" data-category="intro"></div>
		<div id="intendeduse" 	class="tab-pane" 	data-category="intendeduse"></div>	
		<div id="safety" 		class="tab-pane" 	data-category="safety"></div>
		
		<div id="warning"  		class="tab-pane" 	data-category="warning"></div>
		<div id="use"  			class="tab-pane" 	data-category="use"></div>
		
		<div id="fcc"  			class="tab-pane" 	data-category="fcc"></div>
		<div id="doc"  			class="tab-pane" 	data-category="doc"></div>
		
		<div id="cleaning"  	class="tab-pane" 	data-category="cleaning"></div>
		<div id="techdata"  	class="tab-pane" 	data-category="techdata"></div>
		
		<div id="legal"   		class="tab-pane"	data-category="legal"></div>
		<div id="address" 		class="tab-pane" 	data-category="address"></div>
        <div id="support" 		class="tab-pane" 	data-category="support"></div>
	</div>
</div>