        <!--FOOTER-->
            <footer class="egg-m-footer">
            	<hr>
                <span>eggbg&nbsp;2013 to 
                	<span><%- year %></span>
            	</span>
            	<a href="public_files/app_help.pdf" target="_blank">Help</a>
            	<a href="public_files/upload_template.ods" target="_blank">Upload template</a>
                
                <div class="js_to_top egg-m-back-to-top">
                    <a href="#">
                        <span class="glyphicon glyphicon-arrow-up"></span>
                    </a>
                   <span class="js_speed_fast" data-speed="20">+</span>
                   <span class="js_speed_slow" data-speed="5">-</span>
                </div>                
            </footer>
        </div><!-- Container END-->