<!-- NAVIGATION BAR -->
      <div class="egg-m-navbar navbar navbar-fixed-top navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
              <a href="index.php" class="egg-m-navbar__brand navbar-brand">TeC+i</a>
            </div>
            <div class="egg-m-navbar__navi ">
              <ul class="nav navbar-nav">
                <li>
                  <a title="user" class="js_egg_display_user"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;&nbsp;<span><%- user %></span></a>
                </li>
                <li class="egg-m-navbar__navi--h">
                    <a class="js_show_hide_languages glyphicon glyphicon-sort-by-alphabet-alt" title="Show only DE and EN"></a>
                </li>
                <li class="egg-m-navbar__navi--h">
                    <a class="js_clean_view glyphicon glyphicon-align-justify" title="Show text content only"></a>
                </li>                
                <% if(domain == 0) { %>
                  <li class="egg-m-navbar__navi--h">
                      <a href="statistics.php" class="js_egg_create_all_statistics glyphicon glyphicon-link" title="Statistics"></a>
                  </li>
                <% } %>
                <li class="js_processing">
                    <a class="glyphicon glyphicon-flash"></a> <!--Notify user-->
                </li>
                <li class="js_notify_user">
                    <a class="glyphicon glyphicon-cloud-upload"></a> <!--Notify user-->
                </li>
                <li class="js_get_more_results egg-m-navbar__navi--h">
                  <a class="glyphicon glyphicon-download"></a>
                </li>
                <li class="">
                  <a class="js_total_item_count egg-m-item-count">0</a>
                </li>  
                <li class="egg-m-navbar__navi--h">
                  <a href="logout.php" class="js_egg_logout glyphicon glyphicon-log-out"></a> <!--logout-->
                </li>
              </ul>
            </div><!-- /.nav-collapse -->
          </div><!-- /.container -->
        </div><!-- /.navbar -->