  <!--SEARCH STATISTICS-->
                <div class="egg-m-search-stats js_egg_search_statistics">
                    <div class="list-group">
                        <div class="list-group-item egg-header">Search statistics</div>
                        <table class="">
                            <tbody>
                            <tr>
                                <td>Block match:</td>
                                <td class="">2</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Cat matches:</td>
                                <td class="">3<td>
                            </tr>
                            <tr>
                                <td>Tag matches:</td>
                                <td class="">2</td>
                                <td></td>
                            </tr>
                        </tbody>
                        </table>
                     </div>
                </div>