<!-- NAVIGATION BAR -->
<div class="egg-m-navbar navbar navbar-fixed-top navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
          <a href="index.php" class="egg-m-navbar__brand navbar-brand">TeC+i</a>
        </div>
        <div class="egg-m-navbar__navi">
          <ul class="nav navbar-nav">
            <li class="js_processing">
                <a class="glyphicon glyphicon-flash"></a> <!--Notify user-->
            </li>
            <li class="js_notify_user">
                <a class="glyphicon glyphicon-cloud-upload"></a> <!--Notify user-->
            </li>
            <li class="egg-m-navbar__navi--h">
                <a class="js_get_stats glyphicon glyphicon-refresh"></a>
            </li>
            <li class="egg-m-navbar__navi--h">
              <a href="logout.php" class="js_egg_logout glyphicon glyphicon-log-out"></a> <!--logout-->
            </li>
          </ul>
        </div>
    </div>
</div>