<!-- CATEGORIES -->
<div class="row">
  <!--categories-->
  <div class="egg-m-stats egg-m-categories js_stats_categories col-md-6">
      <div class="list-group">
          <div class="list-group-item egg-header">Categories</div>
          <table class="table table-bordered table-responsive">
              <thead>
                  <tr>
                      <td>Name</td>
                      <td class="egg-face-center">Blocks</td>
                  </tr>
              </thead>
              <tbody>
              <% if(cats) { _.each(cats, function(cat) { %>  
                 <tr>
                     <td><%- cat.name %></td>
                     <td class="egg-face-center"><%- cat.blocks %></td>
                 </tr>
              <% }); } %>   
              </tbody>
          </table>
      </div>
  </div>
</div>   