<!-- BLOCKS -->
<div class="row">
  <div class="egg-m-stats egg-m-stats-blocks js_stats_blocks col-md-6">
      <div class="list-group">
          <div class="list-group-item egg-header">Blocks</div>
          <table class="table table-bordered table-responsive">
             <tr>
                 <td>Total</td>
                 <td class="egg-face-center"><%- total %></td> <!-- Total blocks -->
             </tr>
             <tr>
                 <td>Average tags</td>
                 <td class="egg-face-center"><%- average_tags %></td> <!-- Average tags per block -->
             </tr>                         
          </table>
      <div>
  </div>
<!--********************Bug fix ********--> 
  </div></div></div>
<!--********************Bug fix ********--> 
</div>   