<!-- TAGS -->
<div class="row">
   <!--tags-->
    <div class="egg-m-stats egg-m-stats-tags js_stats_tags col-md-6">
        <div class="list-group">
            <div class="list-group-item egg-header">Tags</div>
            <table class="table table-bordered table-responsive">
                <tr>
                    <td>Total</td>
                    <td class="js_tag_stats_total egg-face-center">0</td> <!-- Total available tags -->
                </tr>
                <tr>
                    <td>Unused</td>
                    <td class="js_tag_stats_unused egg-face-center">0</td>
                </tr>
                <tr>
                    <td>Unused tags</td>
                    <td  class="egg-face-center">
                        <textarea class="js_tag_stats_unused_listed"></textarea>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>    
<!--row is closed on blocks view-->