<!--USERS-->
<div class="row  col-md-12">    
    <div class="egg-m-stats egg-m-stats-user">
        <div class="list-group">
            <div class="list-group-item egg-header">Users</div>
            <table class="table table-bordered table-responsive">
                <thead>
                    <tr>
                        <td>Name</td>
                        <td>Rights</td>
                        <td class="egg-face-center">Projects</td>
                        <td class="egg-face-center">Blocks created</td>
                        <td class="egg-face-center">Blocks deleted</td>
                        <td>Last login</td>
                    </tr>
                </thead>
                <tbody class="js_stats_users">
                   <tr>
                       <td>Jonas Haener</td>
                       <td>Admin</td>
                       <td class="egg-face-center">10</td>
                       <td class="egg-face-center">20</td>
                       <td class="egg-face-center">10</td>
                       <td>2014-03-14H15:12:50</td>
                   </tr>
                </tbody>
            </table>
        </div>
    </div>
<div>    