<!-- BLOCKS -->
<div class="row">
  <div class="egg-m-stats egg-m-stats-blocks js_stats_blocks col-md-6">
      <div class="list-group">
          <div class="list-group-item egg-header">Blocks</div>
          <table class="table table-bordered table-responsive">
             <tr>
                 <td>Total</td>
                 <td class="js_block_stats_total egg-face-center">0</td> <!-- Total blocks -->
             </tr>
             <tr>
                 <td>Average tags</td>
                 <td class="js_block_stats_average_tags egg-face-center">0</td> <!-- Average tags per block -->
             </tr>                         
          </table>
      <div>
  </div>
</div>  
<!--********************Bug fix ********--> 
  <!--</div></div></div>-->
<!--********************Bug fix ********--> 
 <!--closes view opened im tags view-->   