
/*Color variables for Sass inclusion */
/* ll = super light, l = light, m = light medium ... */



/*** Greys ***************************/
$col_grey_lll 	: #F3F3F3;
$col_grey_ll 	: #E6E6E6;
$col_grey_l 	: #D9D9D9;
$col_grey_m 	: #C5C5C5;
$col_grey_mm 	: #AFAFAF;
$col_grey_d 	: #333333;
$col_grey_dd 	: #000000;


/*** Blues ***************************/

/*purple*/
/*
$col_blue_ll	: #C19DC9;
$col_blue_l		: #614068;
$col_blue_m		: #614068;
*/

/*grey*/
/*
$col_blue_ll	: #BDBDBD;
$col_blue_l		: #BDBDBD;
$col_blue_m		: #4D4D4D;
*/


/*blue*/
$col_blue_ll	: #B3CFFA;
$col_blue_l		: #51A3E9;
$col_blue_m		: #356EA0;


/*** Black **************************/

$col_black	 	: #000000;


/*** Greens ***************************/
$col_green_lemon : #A4DA54;


/*** States ***************************/
$col_ok: #A4DA54;
$col_error: red;
